.ContactFormContainer {
    background-color:rgb(138, 193, 174); 
    display: flex;
    align-content: center;
    flex-direction: column;
    border: 3px solid black;
    width: 45%;
    height: 400px;
    padding: 15px;
    
}
.FlexContainer {
    display:flex;
    align-items: center;
    justify-content: center;
    
}

.ContactButton {
    width: 125px;
    display: flex;
    justify-content: center;
    margin: 8px auto;
}

.ContactButton:hover {
    background-color: rgb(44, 42, 42);
    color: white;
}